.active {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #ced4da;
  /* background-color: #ced4da;
  border-radius: 10%; */
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}
